@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import '../../bower_components/foundation/scss/foundation';
@font-face {
  font-family: 'bpicons';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/bpicons/bpicons.eot');
  src: url('../../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/bpicons/bpicons.woff') format('woff'),
  url('../../fonts/bpicons/bpicons.ttf') format('truetype'),
  url('../../fonts/bpicons/bpicons.svg#bpicons') format('svg');
} // Made with http://icomoon.io/

// Resets
*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: #F8FBC1;

}
ul{
  margin: 0;
}
li{
  list-style: none;
}
//body wireframe
.js_container{
  width: 100%;
  height: 400px;
  margin: 0;

  background-image: url(http://s3-ap-southeast-2.amazonaws.com/wh1.thewebconsole.com/wh/3665/images/banner1.jpg);
background-size: cover;
}
.banner{
  position: relative;
top: 330px;
text-align: center;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.js_post_container{
  position: relative;
top: 50px;
}

.js_order_container {
  position: absolute;
top: 400px;
right: 0;
margin-right: 50px;
//  border: 1px solid black;
}
.order_title{
  text-align: center;
}
.total_title{
  text-align: center;
}
.success{
  margin: 0;
}
hr{
  margin: 0;
background-color: black;
height: 1px;
}
.menu-list{
  margin-left: 10px;
}
.menu-item{
width: 50%;
  border-bottom: 1px solid #726B5F;
  border-left: 1px solid #726B5F;
  color: #726B5F;
  padding-left: 5px;
}
.order_button{
  float: right;
bottom: 50px;
}
// Helper classes
.cf:before,
.cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

// Main styles
body {
  //background: #2A2B30;
  //color: #CECECE;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #f0f0f0;
  outline: none;
}

a:hover {
  color: #516977;
}
