<img class="product__image" src="images/{{picture}}" alt="Product {{id}}" />
<button class="action action--remove">
  <i class="fa fa-remove"></i>
  <span class="action__text action__text--invisible">Remove product</span>
</button>
